---
- name: Deploy Notes App to AWS EKS
  hosts: localhost
  connection: local
  gather_facts: false
  
  tasks:        
    - name: Update kubeconfig
      shell: aws eks update-kubeconfig --region us-east-1 --name notes

    - name: Install ArgoCD
      shell: |
        kubectl create namespace argocd --dry-run=client -o yaml | kubectl apply -f -
        kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

    - name: Wait for ArgoCD to be ready
      shell: kubectl wait --for=condition=available --timeout=300s deployment/argocd-server -n argocd
        
    - name: Apply ArgoCD application
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: argoproj.io/v1alpha1
          kind: Application
          metadata:
            name: notes-app
            namespace: argocd
          spec:
            project: default
            source:
              repoURL: "https://github.com/maroayman/depi-notes-app-gitops.git"
              targetRevision: HEAD
              path: helm
            destination:
              server: https://kubernetes.default.svc
              namespace: notes
            syncPolicy:
              automated:
                prune: true
                selfHeal: true
              syncOptions:
                - CreateNamespace=true
